<div class="pd-header">
    <div class="container">
        <div class="pd-w-200">
            <div class="bd-product my-5">
                <form name="product_Order" action="/addCart" method="post">
                    <div class="row">
                        {{#with product}}
                        <div class="col-6">
                            <div class="details-image-info-product">
                                <img src="http://localhost:3030/uploads/{{this.imageRepresent}}" alt="">
                            </div>
                            <div class="d-flex gap-3 justify-content-center">
                                <div class="list-image-details-info-product mt-2 ">
                                    <div>
                                        <img src="http://localhost:3030/uploads/{{this.imageRepresent}}" alt="">
                                    </div>

                                </div>


                            </div>
                            <p class="mt-4">
                                {{descriptionProduct}}
                            </p>

                        </div>
                        <div class="col-6">
                            <h2 id="name_product" class="fw-bold" style="text-transform:capitalize">{{nameProduct}}</h2>
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <span id="details-price-product-show"
                                        class="details-price-prodcut">{{priceStandard}}</span>
                                    <span id="details-price-product" class="details-price-prodcut"
                                        hidden>{{priceStandard}}</span>
                                </div>
                                <div class="quanity-product">
                                    <button id="btn_down" type="button"
                                        class="btn btn-circle-primary btn-circle-disable mx-2"><i
                                            class="fas fa-minus text-white"></i></button>
                                    <span class="mx-2" name="test" id="lbl_quanity">1</span>
                                    <button type="button" id="btn_up" class="mx-2 btn btn-circle-primary"><i
                                            class="fas fa-plus text-white"></i></button>
                                </div>
                            </div>
                            {{/with}}
                            <div>
                                <div class="input-group mt-4">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i
                                                class="fas fa-sticky-note fs-4 text-secondary"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup"
                                        placeholder="Ghi chú cho món tại đây">
                                </div>
                            </div>
                            <div class="mt-4 bd-size">
                                <div class="bg-border ">Chọn size (BẮT BUỘC)</div>
                                <div class="">
                                    <div class="d-flex justify-content-evenly p-2">
                                        {{#each size}}
                                        <div class="d-flex align-items-center gap-3">
                                            <input class="form-check-input rad-primary" type="radio" name="sizePrice"
                                                id="{{this.name}}" value="{{this.value}}">
                                            <div>
                                                <label class="d-block" for="{{this.name}}">{{this.name}}</label>
                                                <label class="d-block price-size-show"
                                                    for="{{this.name}}">{{this.value}}</label>
                                                <label class="price-size" hidden>{{this.value}}</label>
                                            </div>
                                        </div>
                                        {{/each}}

                                    </div>
                                </div>
                            </div>
                            {{#with product}}
                            <button type="submit" class="btn btn-color-primary w-100 mt-4" id="btn_addToCart">
                                <span id="price_Total" hidden>{{priceStandard}}</span>
                                <span id="price_Total_show">{{priceStandard}}</span> - Thêm vào giỏ hàng
                            </button>
                            <input id="id_product" name="id_product" type="hidden" value="{{_id}}">
                            {{/with}}
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <form name="frmAddtoCart"></form>
    <div id="alert_cart" class="alert alert-primary alert-cart d-none">
        <i class="fas fa-check-circle"></i> Thêm giỏ hàng thành công!
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var lblquanity = $('#lbl_quanity');
            var btnUp = $('#btn_up');
            var btnDown = $('#btn_down');
            var details_price_product = $('#details-price-product');
            var details_price_product_show = $("#details-price-product-show");
            var price_Total_show = $("#price_Total_show");
            var price_Total = $("#price_Total");
            var radioSize = $('input:radio[name=sizePrice]');
            var btn_down_topping = $('.btn_down_topping');
            var btn_up_topping = $('.btn_up_topping');
            var lbl_quanity_topping = $('#lbl_quanity_topping');
            var topping_parrent = $('.topping-parent');
            var price_size_show = $('.price-size-show');
            var price_size = $('.price-size');
            var price_extra = $('.price-extra');
            var price_product = $('#details-price-product');
            var btn_addToCart = $('#btn_addToCart');
            var frn_addToCart = document.forms["frmAddtoCart"];
            var id_product = $('#id_product');
            var product_Order = document.forms["product_Order"];
            var alert_cart = $("#alert_cart");
            renderFormatNumber();
            if (radioSize.is(':checked') === false) {
                radioSize.filter('[value=0]').prop('checked', true);
            }
            radioSize.change(function () {
                tinhTien();
            })
            btn_addToCart.on("click", function (e) {
                e.preventDefault();
                var idProduct = id_product.val();
                var sizeName = $('input:radio[name=sizePrice]:checked').attr("id");
                var sizePrice = $('input:radio[name=sizePrice]:checked').val();
                var quanityOrder = $('#lbl_quanity').text();
                var note = $("#inlineFormInputGroup").val();
                var currentPriceProduct = $("#details-price-product").text();
                var price_Total = $("#price_Total").text();
                var name_product = $("#name_product").text();
                var productCart = {
                    idProduct: idProduct,
                    priceTotal: parseFloat(price_Total),
                    currentPriceProduct: parseFloat(currentPriceProduct),
                    sizeName: sizeName,
                    sizePrice: parseFloat(sizePrice),
                    quanityProduct: parseInt(quanityOrder),
                    name_product: name_product,
                    note: note,
                }
                if (sessionStorage.arrayCart == null) {
                    var arrayCart = [];
                } else {
                    var arrayCart = JSON.parse(sessionStorage.arrayCart);
                }
                arrayCart.push(productCart)
                sessionStorage.setItem('arrayCart', JSON.stringify(arrayCart));
                sessionStorage.setItem("countQuanity", countQuanity());
                showCountCart();
                alert_cart.removeClass("d-none");
                setTimeout(function () {
                    alert_cart.addClass("d-none");
                }, 2000);
            })
            btnUp.on("click", function (e) {
                var current = lblquanity.text();

                lblquanity.text(parseInt(current) + 1 + "");
                if (parseInt(lblquanity.text()) > 1) {
                    btnDown.removeClass("btn-circle-disable");
                }
                tinhTien();
            })
            btn_up_topping.on("click", function (e) {
                var current = lbl_quanity_topping.text();

            });
            [...document.getElementsByClassName("btn_up_topping")].forEach(button => button.addEventListener('click', onClickUpTopping));
            [...document.getElementsByClassName("btn_down_topping")].forEach(button => button.addEventListener('click', onClickDownTopping));
            btnDown.on("click", function (e) {
                var current = lblquanity.text();
                if (!btnDown.hasClass("btn-circle-disable")) {
                    lblquanity.text(parseInt(current) - 1 + "");
                    if (parseInt(lblquanity.text()) <= 1) {
                        btnDown.addClass("btn-circle-disable");
                    }
                }
                tinhTien();
            })
            function onClickUpTopping() {
                var parent = this.parentElement;
                var child = parent.querySelector('.lbl_topping');
                var current = parseInt(child.innerText);
                if (current >= 0 && current < 2) {
                    var btn_down_topping = parent.querySelector('.btn_down_topping');
                    child.innerText = current + 1;
                    if (parseInt(child.innerText) > 0) {
                        btn_down_topping.classList.remove("d-none");
                    }
                }
            }
            function onClickDownTopping() {
                var parent = this.parentElement;
                var child = parent.querySelector('.lbl_topping');
                var btn_down_topping = parent.querySelector('.btn_down_topping');
                var current = child.innerText;
                child.innerText = parseInt(current) - 1;
                if (parseInt(child.innerText) <= 0) {
                    btn_down_topping.classList.add("d-none");
                }
            }

            function tinhTien() {
                var currentQuanity = parseInt(lblquanity.text());
                var price = parseFloat(details_price_product.text());
                var priceExtra = parseFloat($('input[type=radio]:checked').val());
                var total = currentQuanity * (price + priceExtra);
                price_Total_show.text(formatter.format(total));
                price_Total.text(total);
            }
            function renderFormatNumber() {
                price_size_show.each(function () {
                    $(this).text(formatter.format($(this).text()));
                })
                price_Total_show.text(formatter.format(details_price_product_show.text()));
                details_price_product_show.text(formatter.format(details_price_product_show.text()));
                //price_size_show.text(price_size_show.text()));
            }
            function closeAlert() {
                alert_cart.addClass("d-none");
            }

            function showCountCart() {
                $("#soLuong_Cart").text(parseInt(sessionStorage.countQuanity));
                $(".quantities-cart").removeClass("d-none");
            }


        })


    </script>