<div class="pd-header">
    <div class="container-fluid">
        <div class="row my-3">
            <div class="d-flex justify-content-center mt-5">      
                <div class="col-6 p-4 rounded box-details-order">
                        <div id="requestCode" hidden>{{code}}</div>
                        <h5 class="text-center {{checkCodeVNPay code}} fw-bold">{{checkMessageVNPay code}}</h5>
                        {{#if data}}
                            <div>                 
                                <div id='appendListCategory'>
                                
                                    <h5>Thông tin</h5>
                                    <div class="line_bottom"></div>
                                    <table class="table table-striped my-3 align-middle text-center table-text-form">
                                        <tr>
                                            <th class="">Tên</th>
                                        <th class="">Giá trị</th>
                                            <th>Mô tả</th>
                                        </tr>
                                        {{#each data}}
                                        <tr>
                                            <td>{{this.name}}</td>
                                            <td>{{this.value}}</td>
                                            <td>{{this.des}}</td>
                                        </tr>
                                        {{/each}}
                                    </table>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="modalHappy">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-cart d-flex">
            <div class="p-3 ">
                <div class="m-auto text-white fs-3 text-center">
                    <img class="img-50 img-rdus-4"
                        src="https://image.freepik.com/free-vector/cute-monkey-astronaut-floating-cartoon-vector-icon-illustration-animal-technology-icon-concept-isolated-premium-vector-flat-cartoon-style_138676-3519.jpg"
                        alt="">
                </div>
                <div class="text-center fw-bold fs-4 my-3">
                    Quý khách thánh toán đơn hàng thành công.
                    </br>
                    Vui lòng kiểm tra đơn hàng qua email
                </div>
                <div class="text-center my-3">
                    <button id="btn_comeback" class="btn btn-modal-cart fw-bold" data-bs-dismiss="modal"> Trở lại trang
                        chủ </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(){
        var rqCode = $("#requestCode").text();
        if(rqCode === "00"){
            var mail = localStorage.emailCus;
            var address = localStorage.addressCus;
            var note =localStorage.noteCus;
            var name = localStorage.nameCus;
            var number = localStorage.numberCus;
            var listProduct = JSON.parse(sessionStorage.arrayCart);
            var price_coupon = sessionStorage.price_coupon;
            var name_coupon = sessionStorage.coupon;
            var priceTotal = sessionStorage.priceTotal;
            var price_ship = sessionStorage.priceShip;
            var payment = sessionStorage.payment;
            var socket = io("http://localhost:3030/");
            socket.emit("don-hang-moi");
            axios.post('/order', {
                      noteOrder: note,
                    hotenOrder: name,
                    sdtOrder: number,
                    addressOrder: address,
                    priceCharge: price_ship,
                    priceCoupon: price_coupon,
                    nameCoupon: name_coupon,
                    priceTotal: priceTotal,
                    listProductOrder: listProduct,
                    statusOrder:"Đã thanh toán VNPay",
                    payment: payment,
            })
            .then(function (response) {
                    clearCart();
                    var idOrder = response.data.idOrder;
                    var socket = io("http://localhost:3030/");
                    socket.emit("don-hang-moi",response.data);
                    axios.post('/sendMail', {
                        mail: mail,
                        address: address,
                        priceTotal: priceTotal,
                        name: name,
                        idOrder: idOrder,
                    })
                        .then(function (responseMail) {
                          modalHappy.show();
                        })
                })
                .catch(function (error) {
                    console.log(error);
                }); 
        }
        function clearCart() {
            sessionStorage.removeItem("arrayCart");
            sessionStorage.removeItem("countQuanity");
        }
    })
</script>