<div class="container pd-bd">
    <h1>Thùng rác</h1>
     <form method="POST" action="bin/optionServiceBin">
    <div class="d-flex my-2 align-items-center justify-content-between">
        <div>
            <a href="/me/category"><i class="fas fa-chevron-left"></i>Quay lại</a>
        </div>
      <div class="d-flex gap-3 align-items-center"> 
      <span class="d-flex align-items-center gap-2">
      <input class="form-check-input" type="checkbox" value="" id="chkAllBin"> <span>SelectAll</span> 
      </span>
      <div>
          <select name="slc_action_bin" id="slc_action_bin" required>
            <option value="">-Chọn hành động-</option>
            <option value="delete">Xoá</option>
            <option value="restore">Hồi phục</option>
          </select>
      </div>
      <button type="submit" class="btn btn-success bd-none" id="btnActionMany" disabled>
          Thực thi
      </button>
      </div>
    </div>
 
  <div id='appendListCategory'>
    {{#if data}}
      {{#each data}}
      <div class="my-3 d-flex align-items-center gap-3">
        <input name="nameCategory" type="text" value="{{nameCategory}}" class="form-control" disabled>
           <input name="timeDeleted" type="text" value="{{this.date}}" class="form-control" disabled>
        <div class="form-check">
          <input class="form-check-input" name="chkItemCategoryDeleted[]" type="checkbox" value="{{this._id}}" >
         
        </div>

        <div class="btn btn-danger my-2 fs-normal" data-bs-toggle="modal" data-bs-target="#ModalDelete" data-id="{{this._id}}">Xoá vĩnh viễn</div>
        <button type="button" class="btn btn-success my-2 btn-restore" value="{{this._id}}" >Hồi phục</button>
       
      </div>
      {{/each}}
      {{else}}
           {{>empty}}
    {{/if}}
  </div>
  </form>
<form method="POST" name="restoreItemCategory"></form>


<form name="removeItemCategory" method="POST" ></form>
</div>

<div class="modal fade" id="ModalDelete" tabindex="-1" aria-labelledby="TitleModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TitleModal">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn muốn xoá file này ?
        <div class="fs-normal text-danger"> (Việc này không thể hồi phục)</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ bỏ</button>
        <button type="button" class="btn btn-danger del-category" >Xoá</button>
      </div>
    </div>
  </div>
</div>
<form name="frmActionMany" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded',function(){
      // Khai báo biến
      var formRemoveItemCategory = document.forms['removeItemCategory'];
      var formRestoreItemCategory = document.forms['restoreItemCategory'];
      var frmActionMany = document.forms['frmActionMany'];
      var btnActionMany = $('#btnActionMany');
      var chkAllBin =$('#chkAllBin');
      var namecheckbox ='chkItemCategoryDeleted[]';
      var listItemCheckBox =$('input[name="chkItemCategoryDeleted[]"]');
      var slc_action_bin = $('#slc_action_bin');
      
      // Xoá vĩnh viễn 
      var ModalDelete = document.getElementById('ModalDelete')
          ModalDelete.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal  
             var button = event.relatedTarget;
              var idCategory = button.getAttribute('data-id')
            // Extract info from data-bs-* attributes
              var delCategory=document.querySelector('.del-category');
              delCategory.onclick =function(){
                formRemoveItemCategory.action =`bin/deleteOutBinCategory/${idCategory}?_method=DELETE`;
                formRemoveItemCategory.submit();
              }
            })
        //Hồi phục
        
        var btn_restore =$('.btn-restore')
           btn_restore.on('click',function( e){
               idCategory = (e.target).value;
                 formRestoreItemCategory.action =`bin/restoreCategory/${idCategory}?_method=PUT`;
                formRestoreItemCategory.submit();
           })

         
          checkboxValidation(chkAllBin,namecheckbox,listItemCheckBox,btnActionMany);
          slc_action_bin.on('change',function(e){
            if(slc_action_bin.val() === 'delete' ){
               bgChangeRed(btnActionMany)
            }
            else{
              bgChangeGreen(btnActionMany);
            }
          })

          btnActionMany.on('click',function(event){
             if($('#slc_action_bin').val() != ""){
                      frmActionMany.submit();
              }
          })
        
})

function bgChangeRed(btnActionMany){
   btnActionMany.removeClass('bg-success');
    btnActionMany.addClass('bg-danger');
}
function bgChangeGreen(btnActionMany){
  btnActionMany.removeClass('bg-danger');
  btnActionMany.addClass('bg-success');
}
</script>

