<div class="container pd-admin">

  <div class="pd-bd-admin box-shadow-1 text-dark bg-child-admin">
    <h3 class="text-center fw-bold">Thùng rác</h3>
    <div class="d-flex my-2 align-items-center justify-content-between">
      <a href="/me/category">
        <div class="btn bg-gradient-primary text-white a-none">
          <i class="fas fa-chevron-left"></i> Quay lại
        </div>
      </a>
    </div>
    <div id='appendListCategory'>
      {{#if data}}
      <table id="table_category" class="table table-text-form-40 table-striped my-3 align-middle text-center ">
        <thead>
          <tr>
            <th class="">STT</th>
            <th class="">Tên Category</th>
            <th class="">Hình</th>
            <th>Ngày xoá</th>
            <th class="">Thao tác</th>
          </tr>
        </thead>
        {{#each data}}
        <tr>
          <td class="">{{inc @index}}</td>
          <td class="">{{nameCategory}}</td>
          <td class=""><img src="/uploads/{{this.imageCategory}}" alt=""></td>
          <td>{{formatDate this.createdAt}}</td>
          <td class="">
            <div class="btn btn-dark-custom my-2 mx-2" data-bs-toggle="modal" data-bs-target="#ModalDelete"
              data-id="{{this._id}}">Xoá vĩnh viễn</div>
            <button class="btn btn-success my-2 btn-restore" type="button" value="{{this._id}}">Hồi phục</button>
          </td>
        </tr>
        {{/each}}
      </table>
      {{else}}
      {{>empty}}
      {{/if}}
    </div>
    <form method="POST" name="restoreItemCategory"></form>
    <form name="removeItemCategory" method="POST"></form>
  </div>
</div>

<div class="modal fade" id="ModalDelete" tabindex="-1" aria-labelledby="TitleModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TitleModal">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn muốn xoá file này ?
        <div class="fs-normal text-danger"> (Việc này không thể hồi phục)</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ bỏ</button>
        <button type="button" class="btn btn-danger del-category">Xoá</button>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Khai báo biến
    var formRemoveItemCategory = document.forms['removeItemCategory'];
    var formRestoreItemCategory = document.forms['restoreItemCategory'];
    // Xoá vĩnh viễn 
    var ModalDelete = document.getElementById('ModalDelete')
    ModalDelete.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal  
      var button = event.relatedTarget;
      var idCategory = button.getAttribute('data-id')
      // Extract info from data-bs-* attributes
      var delCategory = document.querySelector('.del-category');
      delCategory.onclick = function () {
        formRemoveItemCategory.action = `bin/deleteOutBinCategory/${idCategory}?_method=DELETE`;
        formRemoveItemCategory.submit();
      }
    })
    //Hồi phục
    var btn_restore = $('.btn-restore')
    btn_restore.on('click', function (e) {
      idCategory = $(this).val();
      formRestoreItemCategory.action = `bin/restoreCategory/${idCategory}?_method=PUT`;
      formRestoreItemCategory.submit();
    })
    var table_category = $("#table_category");
    table_category.DataTable();
  })
</script>