

<div class="container pd-admin ">
  <div class="pd-bd-admin box-shadow-1 text-dark bg-child-admin">
    <a href="/me/listOrder" class="a-none btn bg-gradient-primary text-white">
      Quay lại
    </a>
    <h3 class="text-center fw-bold">Chi tiết đơn hàng</h3>
<div>
  <form method="POST" name="removeManyCategory" action="removeManyCategory?_method=DELETE">
    {{#with data}}
    <div class="d-flex justify-content-between">
        <div>
          <div class="my-2">
          <span>Mã đơn hàng: </span><span class="fst-italic">{{idOrder}}</span>
          <div class="line_bottom"></div>
          </div>
          <div class="my-2 " style="color:{{checkColorStatus statusOrder}}">
           <span class=" text-dark"> Trạng thái:</span> {{statusOrder}}
          </div>
           <div class="my-2">
            Ngày đặt: {{formatDate createdAt}}
          </div>
          <div class="my-2">
            Phương thức thanh toán:{{payment}}
          </div>
        </div>
        <div>
           <div class="my-2">
            Khách Hàng: {{hotenOrder}}
            </div>
            <div class="my-2">
              SĐT: {{sdtOrder}}
          </div>
           <div class="my-2">
            Địa chỉ: {{addressOrder}}
            </div>
        </div>
    </div>
    {{/with}}
  <div id='appendListCategory'>
    <h5>Giỏ hàng</h5>
    <div class="line_bottom"></div>
    {{#if cartProduct}}
        <table class="table table-striped my-3 align-middle text-center table-text-form">
           <tr>
              <th class="">STT</th>
              <th class="">tên sản phẩm</th>
                <th class="">số lượng</th> 
                <th class="">Size</th>
                <th class="">Giá sản phẩm</th> 
                <th class="">Ghi chú</th> 
                <th>Tổng giá</th>
            </tr>
      {{#each cartProduct}}

            <tr>
              <td class="">{{inc @index}}</td>
              <td class="">{{this.name_product}}</td>
              <td class="">{{this.quanityProduct}}</td>
              <td>{{this.sizeName}}(+{{formatNum this.sizePrice}})</td>
              <td>{{formatNum this.currentPriceProduct}}</td>
              <td>{{this.note}}</td>
              <td >{{formatNum this.priceTotal}}</td>

            </tr>


      {{/each}}
      </table>
      {{else}}
           {{>empty}}
    {{/if}}
      {{#with data}}
      <div class="d-flex justify-content-between my-2">
        <div>
             Khuyễn mãi: 
        </div> 
        <div>
          {{#if this.nameCoupon}}
            ({{this.nameCoupon}})
          {{/if}}
          {{formatNum this.priceCoupon}}
        </div>
      </div>
      <div class="d-flex justify-content-between my-2">
        <div>
             Phí ship: 
        </div> 
        <div>
          {{formatNum this.priceCharge}}
        </div>
      
      </div>
    <div class="d-flex justify-content-between my-2">
        <div class="color-primary fs-5 fw-bold">
          Thành Tiền: 
            <div class="line_bottom"></div>
        </div>
        <div class="color-primary fs-5 fw-bold">
          {{formatNum this.priceTotal}}
        </div>
      </div>
      {{/with}}
  </div>
 
</div>

<form name="removeItemCategory" method="POST" ></form>
</div>
</div>

<div class="modal fade" id="ModalDelete" tabindex="-1" aria-labelledby="TitleModalDelete" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TitleModalDelete">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn muốn từ chối đơn hàng này ?
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ bỏ</button>
        <button type="button" class="btn btn-danger del-category" >Đồng ý </button>
      </div>
    </div>
  </div>
</div>


