<div class="container pd-admin ">
  <div class="pd-bd-admin box-shadow-1 text-dark bg-child-admin">
    <h3 class="text-center fw-bold">Danh sách đơn hàng</h3>
    <div>
      <div id='appendListCategory'>
        {{#if data}}
        <table id="table_order" class="table table-striped my-3 align-middle text-center ">
          <thead>
            <tr>
              <th class="">STT</th>
              <th class="">Mã Đơn</th>
              <th class="">Trạng thái</th>
              <th class="">Tên người Đặt</th>
              <th class="">Sđt</th>
              <th class="">Tổng đơn</th>
              <th class="">Ngày đặt</th>
              <th class="">Thao tác</th>
            </tr>
          </thead>
          {{#each data}}
          <tr>
            <td class="">{{inc @index}}</td>
            <td class="">{{idOrder}}</td>
            <td style="color:{{checkColorStatus statusOrder}};">{{statusOrder}}</td>
            <td class="">{{hotenOrder}}</td>
            <td class="">{{sdtOrder}}</td>
            <td class="">{{formatNum priceTotal}}</td>
            <td class="">{{formatDateShort createdAt}}</td>
            <td class="d-flex justify-content-evenly align-items-center">
              <div class="{{checkStatus statusOrder}} text-danger" data-bs-toggle="modal" data-bs-target="#ModalDelete"
                data-id="{{this._id}}" title="Từ chối đơn hàng"><i class="fas fa-ban"></i></i></div>
              <button class="btn_details_order btn_action color-primary" type="button" value="{{this._id}}"
                title="Chi tiết đơn hàng">
                <i class="fas fa-eye"></i>
              </button>
              <button class="btn_active {{checkStatus statusOrder}} btn_action text-success" type="button"
                value="{{this._id}}" title="Xác nhận đơn hàng"><i class="fas fa-check"></i></button>
            </td>
          </tr>
          {{/each}}
        </table>
        {{else}}
        {{>empty}}
        {{/if}}
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="ModalDelete" tabindex="-1" aria-labelledby="TitleModalDelete" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TitleModalDelete">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn muốn từ chối đơn hàng này ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ bỏ</button>
        <button type="button" class="btn btn-danger del-category">Đồng ý </button>
      </div>
    </div>
  </div>
</div>

<form name="frmGetDetails" method="GET"></form>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var frmGetDetails = document.forms['frmGetDetails'];
    var ModalDelete = document.getElementById('ModalDelete');
    var btn_details_order = $('.btn_details_order');
    var btn_active = $(".btn_active");
    btn_active.each(function () {
      $(this).on("click", function (e) {
        activeDonHang($(this).val(), "done");
      })
    })
    var table_order = $("#table_order");
    table_order.DataTable();
    //Show Modal Delete
    ModalDelete.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal  
      var button = event.relatedTarget;
      var idDonHang = button.getAttribute('data-id')
      // Extract info from data-bs-* attributes
      var delCategory = document.querySelector('.del-category');
      delCategory.onclick = function () {
        activeDonHang(idDonHang, 'cancel');
      }
    })
    btn_details_order.on('click', function (e) {
      var id = e.currentTarget.value;
      frmGetDetails.action = `/me/detailsOrder/${id}`;
      frmGetDetails.submit();
    })
  })
  function activeDonHang(id, status) {
    axios.post('/me/activeDonHang', {
      id: id,
      status: status,
    })
      .then(function (response) {
        if (response.data == 'success') {
          location.reload();
        }
        else {
          alert('vui lòng thử lại');
        }
      })
      .catch(function (error) {
        console.log(error);
      });
  }
</script>