<style>
  .input_thongso_products{
    border-radius: 8px;
    outline: none;
    border: 1px solid;
    padding: 4px 8px;
  }
</style>

<div class="container pd-admin">
   <div class="pd-bd-admin box-shadow-1 text-white bg-child-admin">

    <h1>Thêm sản phẩm</h1>
<form method="POST" action="/me/updateProduct?_method=PUT" enctype="multipart/form-data">
{{!--   
  <div class="mb-3">
      <h3>Chọn category</h3>
      <select name="Category" class="form-control" id="slc_choose_category" required>
        <option value="">-Chọn category-</option>
        {{#each dataCategory}}
        <option value="{{this._id}}">{{this.nameCategory}}</option>
        {{/each}}
      </select>
      <div id="notifycation_validation_slc_Category">
        
      </div>
  </div>
    <div class="mb-3">
              <h3>Chọn item category</h3>
       <select name="ItemCategory" class="form-control" id="slc_choose_Itemcategory" required disabled>
       
    </select>
    </div> --}}

    {{#with product}}
  <div class="mb-3">
    <label  class="form-label">Tên sản phẩm</label>
     <input name="nameProduct" type="text" class="form-control" value="{{nameProduct}}" >
  </div>
  <div class="mb-3">
    <label  class="form-label">Giá niêm yết</label>
    <input name="PriceRoot" type="text" class="form-control" value="{{priceStandard}}"  >
  </div>
  
    <div class="mb-3">
    <label  class="form-label">Hình đại diện sản phẩm</label>
    <div>
      <div>
          <img class="img-preview-edit" src="http://localhost:3000/uploads/{{imageRepresent}}" alt="">
          <label for="inputfile" id="newfileInput">{{imageRepresent}}</label>
      </div>
        <input type="file" id="inputfile" name="imageRepresent" style="display: none;">
      
      <label for="inputfile" class="btn btn-dark-custom my-2">Click vào đây để đổi ảnh</label>
    </div>
    </div>
     {{/with}}
    <div class="mb-3">
    <label  class="form-label">Phiên bản màu: </label>
    {{#each typeColor}}
    <div class="color-file mb-3 d-flex align-items-center gap-3">  
      <div>
        <input name="name_color" type="text" value="{{this.name}}" required>
      </div>
      <div>
         <input name="price_color" type="text" value= "{{this.price}}" required>
      </div>
      <div>
        <select name="status_Color" class="form-control" id="slc_choose_status_color">
         <option value="active">Có sẵn</option>
         <option value="soldout">Hết hàng</option>
       </select>
      </div>
      <div class="d-flex align-items-center gap-2">
       
         <div>
          <img class="img-preview-edit-color" src="http://localhost:3000/uploads/{{image}}" alt="">
          
      </div>
        <input type="file" id="img_details-{{@index}}" accept="image/*" class="input-choose-file d-none" name="listImageDetails"
        onchange="return document.getElementById('lbl-text-file-details-{{@index}}').innerHTML = this.value;">
        <span class="d-flex flex-column justify-content-between">
        
    
        </span>
      </div>
         <div  class=" btn btn-danger rounded-circle fs-normal" onclick="return this.parentNode.remove();">X</div>
    </div>
    {{/each}}
    <div id="appendInputColor">

    </div>
    
      <span class="btn btn-blue-custom mb-3" id="btn_ThemMau">
                  Thêm màu
     </span>
   
    </div>
 
 
  <div class="mb-3">
             {{#with product}}
          <div class="my-3">Trạng thái</div> <!--1.Hoạt động , Hết hàng , sắp  về-->
       <select name="statusProduct" class="form-control" id="slc_choose_status" value="{{status}}" >
         
        <option value="active">Có sẵn</option>
          <option value="soldout">Hết hàng</option>
            <option value="soon">Sắp về</option>
    </select>
          {{/with}}
    </div>
  <div class="mb-3">
    <label  class="form-label">Mô tả</label>
    <input type="text" class="form-control" name="product_Description">
  </div>
  <div class="my-3 rounded">

    <div class="row">
       <div class="col-12 test-left">

                 <div class="specifications-products">   
                     <div class="title-specifications-products fw-bold text-dark rounded">
                         THÔNG SỐ KỸ THUẬT
                     </div>
                    
                     <div class="content-specifications-products pd-bd " id="appenHTMLSpecification_products">
                        {{#each listSpecifications}}
                           <div class="d-flex gap-3 my-3 align-items-end  number-element-${index}">
                                  <div class="w-50">
                                  <label  class="form-label">Tiêu đề</label>
                                      <input value="{{this.title}}" type="text" name="titleSpecification" class="form-control" >
                                  </div>
                                
                                  <div class="w-50">
                                  <label  class="form-label">Chi tiết</label>
                                  <input value="{{this.details}}" name="detailSpecification" type="text" class="form-control" >
                                  </div>
                                  <div  class="btn-remove-specification-line-${index} btn btn-danger rounded-circle fs-normal" onclick="return this.parentNode.remove();">X</div>
                          </div>
                         {{/each}}
                         
                     </div>
                      <div class="btn btn-success mb-3 w-100 fw-bold fs-4" id="btn_ThemLine_Specification">
                           +
                      </div>
                      
                </div>
               
            </div>
    </div>
   
  </div>

  <button type="submit" class="btn btn-primary" id="btnSubmit" >Submit</button>
</form>
</div>
  </div>
<script>
  
  document.addEventListener('DOMContentLoaded',function(){
      var elemt_select_category = $('#slc_choose_category');
      var slc_select_Itemcategory = $('#slc_choose_Itemcategory');
      var notifycation_validation_slc_Category =$('#notifycation_validation_slc_Category');
      var appenHTMLSpecification_products = $('#appenHTMLSpecification_products');
      var btnThemLine = $('#btn_ThemLine_Specification');
      var btn_ThemMau = $('#btn_ThemMau');
      var appendInputColor = $('#appendInputColor');
      var countElemet = 0;
      var countMauElement =0;
      var btnSubmit = $('#btnSubmit');
      var input_choose_file = $(".input-choose-file");
      input_choose_file.change(function(e){
        console.log(e.target);
      })

      
      elemt_select_category.change(function(){
        loadDuLieu();
      })
          var file = document.getElementById('inputfile').onchange = function () {
        var newfileInput = $('#newfileInput');
        newfileInput.text(this.value);
      };
    btnThemLine.on('click',function(){

          countElemet++;
          console.log(123);
          var title = 'titleSpecification';
          var detail = 'detailSpecification'
          appenHTMLSpecification_products.append(renderItemSpecifications(countElemet,title,detail));
          
          var btn_of_line = $(`.btn-remove-specification-line-${countElemet}`); //btn đỏ của từng dòng
          var parent_btn_of_line = $(`.number-element-${countElemet}`);  //div cha của btn đỏ
          var elementChildNodeAppendLine =appenHTMLSpecification_products.children().length; //đếm length các phẩn tử con của id "appendLineAddCategory"
          toggleDisabledWithLength(elementChildNodeAppendLine,btnSubmit);  //Vô hiệu hoá btn Lưu khi ấn nút thêm line xanh lá
          btn_of_line.on('click',function(){
              parent_btn_of_line.remove();
              //Vô hiệu hoá btn Lưu khi ấn nút xoá line đỏ
              var elementChildNodeAppendLine =appenHTMLSpecification_products.children().length;
              toggleDisabledWithLength(elementChildNodeAppendLine,btnSubmit);
              
          })
          
        })
  btn_ThemMau.on('click',function(){
    countMauElement++;
    appendInputColor.append(renderMoreColor(countMauElement));
    var btn_remove_color =$(`.btn-remove-color-${countMauElement}`);
      var parent_btn_remove_color = $(`.color-file-${countMauElement}`);
    btn_remove_color.on('click',function(){
        parent_btn_remove_color.remove();
    })
  
  
  })
    function loadDuLieu(){
    if(elemt_select_category.val() != "")
          {
               
              var id =elemt_select_category.val();
              const item = getListCategory(id);
              item.then(response=>{  
               var Item = response.data.Item;
              var htmlSlcItemCategory = renderOptionSelect(Item);
              slc_select_Itemcategory.html(htmlSlcItemCategory);
               slc_select_Itemcategory.removeAttr('disabled','disabled');
               notifycation_validation_slc_Category.html(``);
          })
          }
    else{
       notifycation_validation_slc_Category.html(`<div class="text-danger">Vui lòng chọn category</div>`);
       slc_select_Itemcategory.html("");
       slc_select_Itemcategory.attr('disabled','disabled');

    }
      
  }
  
  
   async function getListCategory(id){
      try{
        const reponse = await axios.get(`getItemCategory/${id}`)
        return reponse
      }  
      catch (error){
        console.log(error);
      }
    }
  })
 

 function doichu(){

 }
</script>