<style>
  .input_thongso_products {
    border-radius: 8px;
    outline: none;
    border: 1px solid;
    padding: 4px 8px;
  }
</style>

<div class="container pd-admin">
  <div class="pd-bd-admin box-shadow-1 text-dark bg-child-admin">

    <h3 class="text-center fw-bold">Sửa sản phẩm</h3>
    <form method="POST" action="../updateProduct?_method=PUT" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label">Chọn category</label>
        <select name="Category" class="form-select" id="slc_choose_category" aria-label="Default select example"
          required>
          {{#each dataCategory}}
          <option value="{{this._id}}">{{this.nameCategory}}</option>
          {{/each}}
        </select>
      </div>
      {{#with dataProduct}}
      <div class="mb-3">
        <label class="form-label">Tên sản phẩm</label>
        <input name="nameProduct" type="text" class="form-control" placeholder="VD: Cà phê sữa"
          value="{{this.nameProduct}}">
      </div>
      <input name="idProduct" type="text" value="{{this._id}}" hidden>
      <div id="idCategory" hidden>{{this.idCategory}}</div>
      <div id="statusProduct" hidden>{{this.status}}</div>
      <div class="mb-3">
        <label class="form-label">Giá</label>
        <input name="PriceRoot" type="text" class="form-control" placeholder="VD: 23000 (đơn vị là VND)"
          value="{{this.priceStandard}}">
      </div>
      <div class="mb-3">
        <label class="form-label">Hình sản phẩm</label>
        <div>
          <div class="mb-3">

            <input id="imgProduct" class="form-control" name="imageProduct" type="file">
            <label for="imgProduct" class="my-3">
              <img class="img-preview-product" id="previewImgProduct" src="/uploads/{{this.imageRepresent}}" alt="">
            </label>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Mô tả:</label>


        <textarea class="form-control" name="productDescription">{{this.descriptionProduct}}</textarea>
      </div>
      <div class="mb-3">
        <label class="form-label"> Trạng thái:</label>

        <select id="select_status" name="status" class="form-select" aria-label="Default select example" required>
          <option value="bestseller">Best seller</option>
          <option value="ready">ready</option>
          <option value="soldout">sold out</option>
          <option value="cancel">cancel</option>
        </select>
      </div>
      {{/with}}
      <div class="">
        <label>Size</label>
        <div class="row">
          <div class="col-12 test-left">
            <div class="specifications-products">
              <div class="content-specifications-products pd-bd-y-0" id="appenHTMLSpecification_products">
                {{#each size}}
                <div class="d-flex gap-3 my-3 align-items-end">
                  <div class="w-50">
                    <label class="form-label">Tên Size</label>
                    <input name="listSize[]" value="{{this.name}}" type="text" class="form-control" required>
                  </div>
                  <div class="w-50">
                    <label class="form-label">Cộng thêm</label>
                    <input name="listPriceExtra[]" value="{{this.value}}" type="text" class="form-control" required>
                  </div>
                  <div class="btn-remove-size  btn btn-danger rounded-circle fs-normal">X</div>
                </div>
                {{/each}}
              </div>
            </div>
            <div class="btn bg-gradient-primary mb-3 w-100 fw-bold fs-4 text-white" id="btn_ThemLine_Specification">
              +
            </div>
          </div>
        </div>

      </div>
      <div class="d-flex flex-row-reverse gap-3">
        <button type="submit" class="btn btn-success text-white" id="btnSubmit">Lưu thay đổi</button>
         <a href="/me/listProduct" class="btn btn-secondary text-white" id="btnSubmit">Hủy bỏ</a>
      </div>
    </form>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elemt_select_category = $('#slc_choose_category');
    var slc_select_Itemcategory = $('#slc_choose_Itemcategory');
    var notifycation_validation_slc_Category = $('#notifycation_validation_slc_Category');
    var appenHTMLSpecification_products = $('#appenHTMLSpecification_products');
    var btnThemLine = $('#btn_ThemLine_Specification');
    var btn_ThemMau = $('#btn_ThemMau');
    var appendInputColor = $('#appendInputColor');
    var countElemet = 0;
    var countMauElement = 0;
    var btnSubmit = $('#btnSubmit');
    var imgProduct = document.getElementById('imgProduct');
    var previewImgProduct = document.getElementById('previewImgProduct');
    var fileNameCategory = document.getElementById('fileNameCategory');
    imgProduct.onchange = evt => {
      const [file] = imgProduct.files
      if (file) {
        console.log(file);
        previewImgProduct.src = URL.createObjectURL(file);
      }
    }
    var select_status = $("#select_status");

    select_status.val($("#statusProduct").text());
    var idCategory = $("#idCategory").text();
    elemt_select_category.val(idCategory);
    addEventsBtnXoa();
    btnThemLine.on('click', function () {
      var elementChildNodeAppendLine = appenHTMLSpecification_products.children().length;
      if (elementChildNodeAppendLine >= 3) {
        alert("Chỉ được thêm 3 size")
      } else {
        countElemet++;
        var title = 'listSize[]';
        var detail = 'listPriceExtra[]'
        appenHTMLSpecification_products.append(renderSize(title, detail));
        addEventsBtnXoa();
        var elementChildNodeAppendLine = appenHTMLSpecification_products.children().length; //đếm length các phẩn tử con của id "appendLineAddCategory"
        toggleDisabledWithLength(elementChildNodeAppendLine, btnSubmit);  //Vô hiệu hoá btn Lưu khi ấn nút thêm line xanh lá

      }
    })
    function addEventsBtnXoa() {
      var btn_remove_of_line = $(`.btn-remove-size`); //btn đỏ của từng dòng
      btn_remove_of_line.each(function () {
        $(this).on("click", function (e) {
          console.log($(this).parent().remove());
          var elementChildNodeAppendLine = appenHTMLSpecification_products.children().length;
          toggleDisabledWithLength(elementChildNodeAppendLine, btnSubmit);
        })

      })
    }
  })

</script>